---
export const prerender = false;
import { UserProfile } from "@components/react/index";
const { profileSlug } = Astro.params;
---

<div>
  <h1>Profile</h1>
  <UserProfile client:only="react" userId={profileSlug} />
</div>
