---
export const prerender = true;
import { Navbar as ReactNav } from "@components/react";
---

<div class="navbar bg-[#dab5d6] px-8">
  <a href="/" class="flex-1 text-2xl font-semibold navbar-start ltim">
    <span class="text-black mx-1">Dev</span>
    <span class="text-primary">Board</span>
  </a>

  <nav class="navbar-center inter">
    <div class="hidden lg:flex gap-8 pl-8">
      <a href="/">Home</a>
      <a href="/blogs">Blogs</a>
      <a href="/questions">Questions </a>
      <a href="/services">Services</a>
    </div>
  </nav>

  <div class="navbar-end">
    <ReactNav client:only="react" />
  </div>
</div>
